.header {
  align-items: center;
  padding: 1%;
  background-color: #e8d6c8;

  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    .title {
      color: #a3856e;
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }
}

.header__landing-btn {
  background-color: #d98259;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.header__landing-btn:hover {
  background-color: #a4b48c;
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header {
    padding: 20px 10px;

    .hero {
      flex-direction: column; /* cambia a columna */
      align-items: center; /* centra los elementos */

      .title {
        font-size: 2rem;
        margin-bottom: 15px; /* añade margen inferior para separar del botón */
      }

      .header__landing-btn {
        font-size: 0.9rem;
        padding: 8px 20px;
        margin-top: 10px; /* espacio superior al botón */
      }

      &__text {
        font-size: 1rem;
        padding: 0 15px;
      }

      .projectImage {
        height: 200px;
        max-width: 90%;
      }
    }
  }
}
